<h1> Hello Everyone </h1>
<button (click)="getData()"> Get Me data Please. </button>
<div class="datadiv" *ngIf="displayButton"> 
    <table>
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let info of data">
                <td>{{info.restaurant}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<br>
<div> 
    <span> Specific Data Input: </span> 
    <input type="text" [(ngModel)]="inputId">
    <button (click)="getSpecificData(inputId)"> Get Me specifc data Please. </button>
</div>
<hr>
<br>
<div> 
    <span> Delete ID: </span> 
    <input type="text" [(ngModel)]="inputId">
    <button (click)="deleteData(inputId)"> Delete Me Data. </button>
</div>